<!DOCTYPE html>
<html>
  <head>
    <title>MiniTheater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <!-- googleフォント導入 -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <!-- ここまで -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

  <!-- google map API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcSr9BhV6P40Ws0ZwJedYj3Win9e6ArPc&callback=initMap">
  </script>
  <!-- mapに関するjavascriptファイルの読み込み -->
  <script src="map.js"></script>
</html>
